$text-color: #333;
$text-extra-color: #333;
$text-outfocus-color: #ccc;
$text-outfocus-extra-color: $text-outfocus-color;
$text-holiday-color: #ff0000;
$text-holiday-color-light: #f17171;
$text-color-light: #999;
$text-extra-color-light: #999;
$text-focus-color: #fff;

$border-color: gray;

@mixin date-picker-background {
    background-color: #fff;
}

@mixin disabled-day-background {
    background-color: #eeeeee;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.7) 25%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0.7));
    background-size: 0.75rem 0.75rem;
}

@mixin focus-day-background {
    background-color: #006978;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.7) 25%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0.7));
    background-size: 0.75rem 0.75rem;
}

@mixin hover-day-background {
    background-color: #56c8d8;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.7) 25%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0.7));
    background-size: 0.75rem 0.75rem;
}

@mixin today {
    border: 1px solid #707070;
}

.date-picker {
    @include date-picker-background;
    display: none;
    position: absolute;
    border: 1px solid $border-color;
    color: $text-color;
    margin-top: 0.5rem;
    padding: 0;
    overflow: hidden;
    border-radius: 0.25rem;
    width: 290px;
    z-index: 1050;

    &.show {
        display: block;
    }

    .date-picker-header {
        display: none;

        .date-picker-title-bar {
            background-color: #00bbff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            color: #fff;
            font-weight: 600;

            .date-picker-close {
                background-color: transparent;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g id="cancel-music" transform="translate(0 0)"><path id="Path_962" data-name="Path 962" d="M8.664,7l4.992-4.992A1.177,1.177,0,0,0,11.992.344L7,5.336,2.009.344A1.177,1.177,0,0,0,.345,2.008L5.336,7,.345,11.991a1.177,1.177,0,1,0,1.664,1.664L7,8.663l4.992,4.992a1.177,1.177,0,0,0,1.664-1.664Z" transform="translate(0)" fill="%23ffffff" fill-rule="evenodd"/></g></svg>');
                background-repeat: no-repeat;
                padding: 8px;
            }
        }

        .date-picker-inputs {
            display: flex;
            align-items: center;
            padding: .5rem;
            box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
            margin-bottom: 0.5rem; 
            
            #datePickerInputCheckin {
                margin: 0 .5rem;
                text-align: center;
                
            }
            
            #datePickerInputCheckout {
                margin: 0 .5rem;
                text-align: center;
            }

            .focus {
                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
        }
    }
    
    .calendar-view {
        margin: 0;
        text-align: center;
        width: 100%;

        .calendar-nav {
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: center;
            background-color: #fff;
            display: flex;

            .date-picker-btn-prev-month,
            .date-picker-btn-next-month {
                background: #fff;
                border-radius: 50%;
                padding: 0;
                margin: 1.25rem 0.5rem;
                
                .arrow-right,
                .arrow-left {
                    border: 2px solid #707070;
                    border-bottom: none;
                    border-right: none;
                    width: 10px;
                    height: 10px;
                    display: block;
                    transform: rotate(-45deg);
                    margin: 0.75rem;
                    padding: 0;
                    line-height: 0;
                }

                .arrow-right {
                    border: 2px solid #707070;
                    border-top: none;
                    border-left: none;
                }
            }

            .date-picker-year-month {
                display: block;
                padding: 0.25rem;
                margin: 1.25rem auto;
                font-weight: bold;
                // color: #fff;
            }
        }

        .calendar-weekdays {
            display: flex;
            margin: 0 0.5rem;

            .calendar-weekday {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                padding: 0.5rem 0;
            }
        }

        .calendar-month-view {
            margin: 0 0.5rem;

            .calendar-week-view {
                display: flex;

                .calendar-day-view {
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;
                    cursor: pointer;    
                    padding: 0;

                    .date-picker-day-number {
                        width: 100%;
                        height: 100%;

                        .extra-content {
                            font-size: 80%;
                            font-weight: 400;
                            color: $text-extra-color;
                        }
                    }
        
                    &.calendar-day-view-infocus {
        
                        &.calendar-day-view-today {
                            @include today();
                        }

                        &:nth-child(7) {
                            .date-picker-day-number {
                                color: $text-holiday-color;

                                .extra-content {
                                    color: $text-extra-color;
                                }
                            }

                            &.calendar-day-view-disabled,
                            &.calendar-day-view-lock {
                                .date-picker-day-number {
                                    color: $text-holiday-color-light;
    
                                    .extra-content {
                                        color: $text-extra-color-light;
                                    }
                                }   
                            }
                        }
                    }
        
                    &.calendar-day-view-outfocus {
                        color: $text-outfocus-color !important;

                        .date-picker-day-number {
                            
                            .extra-content {
                                color: $text-outfocus-extra-color !important;
                            }
                        }
        
                        &.calendar-day-view-today {
                            @include today();
                        }
                    }

                    &.calendar-day-view-disabled {
                        color: $text-color-light;
                        @include disabled-day-background;

                        .date-picker-day-number {
                            
                            .extra-content {
                                color: $text-extra-color-light;
                            }

                        }

                        &:hover {
                            cursor: not-allowed;
                        }
        
                        &.calendar-day-view-selectable {
                            background-image: linear-gradient(50deg, transparent 50%, rgba(255,255,255,1) 50%);
                            background-size: 100%;
                            background-repeat: no-repeat;
        
                            &:hover {
                                cursor: pointer;
                            }
        
                            &.calendar-day-view-lock {
                                background-image: none;
                            }
                        }               
                    }
        
                    &.calendar-day-view-lock {
                        color: $text-color-light;
                        @include disabled-day-background;

                        .date-picker-day-number {
                            
                            .extra-content {
                                color: $text-extra-color-light;
                            }
                        }

                        &:hover {
                            cursor: not-allowed !important;
                        }
                    }
        
                    &.calendar-day-view-start,
                    &.calendar-day-view-selected {
                        @include focus-day-background;
                        color: $text-focus-color;

                        .date-picker-day-number {
                            
                            .extra-content {
                                color: $text-focus-color;
                            }
                        }

                        &.calendar-day-view-outfocus {
                            color: $text-color-light !important;

                            .date-picker-day-number {
                            
                                .extra-content {
                                    color: $text-extra-color-light !important;
                                }
                            }
                        }
                    }
        
                    &.calendar-day-view-end {
                        @include focus-day-background;
                        color: $text-focus-color;

                        .date-picker-day-number {
                            
                            .extra-content {
                                color: $text-focus-color;
                            }
                        }

                        &.calendar-day-view-outfocus {
                            color: $text-color-light !important;

                            .date-picker-day-number {
                            
                                .extra-content {
                                    color: $text-extra-color-light !important;
                                }
                            }
                        }

                        &.calendar-day-view-selectable {
                            background-image: none;
                            @include focus-day-background;
                            color: $text-focus-color;
                        }
                    }
        
                    &.calendar-day-view-between {
                        @include hover-day-background;

                        &.calendar-day-view-outfocus {
                            color: $text-color-light !important;

                            .date-picker-day-number {
                            
                                .extra-content {
                                    color: $text-extra-color-light !important;
                                }
                            }
                        }
                    }
        
                    .calendar-view-day-wrapper {
                        width: 100%;
                        min-height: 100%;
                        padding: 0.5rem 0;
                    }
                }
            }
        }

        footer {
            display: flex;
            padding: 0.5rem;
            justify-content: space-between;

            .date-picker-notice {
                color: $text-color-light;
                font-size: 90%;
            }
        }
    }

}

@media (max-width: 767.98px) {
    .date-picker {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;

        .date-picker-header {
            display: block !important;
        }
    }
}

input[data-toggle=date-picker] {
    background-size: auto 60%;
    background-position: left .5rem center;
}